*{margin: 0;padding: 0;box-sizing: border-box;font-family: "microsoft yahei","微软雅黑";}
li{list-style: none;}
a{text-decoration: none;color: black;}
.clearfloat:after{display: block;clear: both;content: "";visibility: hidden;height: 0;}
